* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 300px) 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar grid-con-main";
}

/*Header layout*/
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}

.search-input {
    grid-column: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.user-right {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;

}

.welcome-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    
}

/* Sidebar layout */
.sidebar {
    padding-left: 1rem;
    padding-top: 1rem;
    grid-area: sidebar;
    display: grid;
    align-content: start;
    gap: 50px;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar ul {
    display: grid;
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Main layout */
.grid-con-main {
    grid-area: grid-con-main;
    display: grid;
}

