* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 300px) 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar grid-con-main";
}

/*Header layout*/
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
}



.sidebar {
    grid-area: sidebar;
    
}

.grid-con-main {
    grid-area: grid-con-main;
    
}