@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Sidebar style */
.sidebar {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 24px;
    font-weight: 500;
    color: seashell;
    background-color: #0ea5e9;
}

.sidebar-logo {
    font-size: 32px;
}

.sidebar-logo img {
    width: 60px;
}

.sidebar ul a {
    text-decoration: none;
    color: seashell;
}

/* Header style */
.header {
    padding: 10px 35px;
    margin-bottom: 2px;
    box-shadow: rgba(85, 91, 95, 0.10) 0px 3px 6px, rgba(82, 88, 92, 0.10) 0px 3px 60px;
}

#search-icon {
    width: 30px;
}

.search-input {
    min-width: 200px;
}

.search-input input {
    width: clamp(200px, 80%, 1000px);
    height: 30px;
    border-radius: 15px;
    border: 0;
    background-color: lightgrey;
    padding-left: 10px;
    color: black;
    font-weight: 500;
}

.user-right p {
    font-weight: 700;
    font-size: 28px;
}

#notification-bell {
    width: 35px;
}

#small-profilepic {
    width: 65px;
}

#big-profilepic {
    width: 80px;
}

.header-btn button {
    border: none;
    background-color: #0ea5e9;
    padding: 15px 45px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
}

/* Main style */
main {
    background-color: rgb(224, 242, 254);
}

.article {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    border-left: 5px solid orange;
    padding: 30px 20px 10px 20px
}

.grid-con-main {
    padding: 20px;
}

.grid-con-main h2 {
    padding-bottom: 20px;
}

.article-icons > img {
    width: 25px;
}

.flex-con-articles {
    margin: 0px 20px;
    
}

.flex-con-articles h2 {
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

.flex-announce {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: clamp(100px, 200px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow:hidden;
}

.flex-con-trending {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: clamp(200px, 300px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
